RewriteEngine On
RewriteBase /

# Force HTTPS and redirect WWW to Non-WWW to avoid redirect/indexing conflicts
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://desentupidoraribeiro.com/$1 [R=301,L]

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
